body {
  box-sizing: border-box;
  background-color: rgb(255, 196, 205);
}

header, .table, form {
  background-color: rgba($color: white, $alpha: .6);
}

input[type="text"]:focus,
input[type="email"]:focus { 
  outline: none;
  border: 1px solid lightpink;
  box-shadow: 0 0 3px lightpink;
}

.error {
  color: red;
}

.fa-check-circle {
  color: green;
}

header {
  margin: .9rem auto;
  padding: .6rem 0;
  text-align: center;
  border-radius: 9px; 
  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    input, button {
      margin: 6px;
    }
  }
}

.table {
  width: 1px;
  margin: 0 auto;
  border-radius: 15px;
  th:hover {
    cursor: pointer;
  }
  tr {
    width: 1px;
  }
}

form {
  padding: 1.5rem;
  border-radius: 15px;
}

.modal {
  .modal-content {
    padding: .75rem;
    text-align: center;
  }
  .modal-btns-container {
    padding-top: .75rem;
    display: flex;
    justify-content: space-evenly;
  }
}
